/* buttons.css */

.gym-button-1 {
   font-size: 16px;
   padding: 10px 20px;
   border-radius: 20px;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.gym-button-1-primary {
   background-color: #5D0C0B; 
   color: #ffffff; 
   
}

.gym-button-1-primary:hover {
   background-color: #871210;
   color: #ffffff;
}


